
body {
    font-family: Raleway;
}

.container{
    max-width: 1400px;
}

.hd{
    grid-area: 1/1/2/12;
}

.logo_menu .inscrire{
    position:absolute;
    top:26px;
    right: 0;
    padding-right:22px;
}

.logo_menu .hebergement{
    opacity: 0.8;
}

.logo_menu .activites{
    filter:grayscale(80%);
}

.logo_menu ul {
    list-style-type: none;
    display: flex;
    float:right;
    grid-gap: 30%;
    /* margin-top:0; */
    width: 30%;
    justify-content: flex-start;
    padding-right:100px;
}

.logo_menu a{
    text-decoration: none;
    color:  #0065fc;
    font-weight: bold;
}

.logo_menu a:hover{
    text-transform: uppercase;
    color: grey;
    transition: all 1s;
}

.liseret{
    border:none;
    border-top: 3px solid #0065fc;
    width: 209px;
    position:absolute;
    top:10px;
    right:26%;
}

h6{
    margin-top: 0;
    margin-top: -15px;
}

input{
    border-radius:10px;
    border-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
    height: 30px;
}

.filtres{
    border-radius: 10px 10px;
    font-weight: bold;
    margin-bottom: 25px;
}

.filtres i{
    background: #deebff; 
    color:#0065fc;
    border-radius: 20px;
    border: 10px solid #deebff;
    vertical-align: middle;
}

.filtres button{
    border-radius: 2rem;
    border: 0.1rem solid #F2F2F2;
    border-left: none;
    font-weight: bold;
    height: 35px;
    transition: all 0.3s;
}

.filtres button:hover{
    background-color: #deebff;
}

.recherche{
    margin-bottom: 15px;
}

.recherche img{
    width: 16px;
    height: 19px;
    float: left;
    border-radius: 10px;
    border: 0.1rem solid #F2F2F2;
    background: #0065fc; 
    margin-bottom: -4px;
}

.recherche button{
    background-color: #0065fc; 
    color:white;
    font-weight: bold;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 33px;
    margin-left: -10px;
}

.recherche input{
    margin-left: 5px;
    height: 30px;
}

.recherche i{
    margin-right: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    width: 30px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

i.fas.fa-info{
    background-color: lightyellow;
    border: 2px solid #F2F2F2;
    border-radius:20px;
    color: #0065fc;
    font-size: x-small;
    padding:5px;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


.bg_main{
    grid-area: 2/1/3/8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    margin-right: 1rem;
    border-radius: 15px;
    background-color: #F2F2F2; 
    width: 90%; 
}

.bg_main h1{
    margin-left: 1rem;
}

.bg_main h3{
    margin-left: 1rem;
}

#main{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(300px, auto);
    justify-content: space-around;
    align-items: center;
    grid-gap:20px;
}

#main img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.La_Cannebiere, .Hotel_du_port, .Les_mouettes, .Hotel_de_la_mer, .Le_Panier, .Chez-Amina{
    border-radius: 15px;
    background-color: white;
    box-sizing: border-box;
    width: auto;
    height: 280px;
    padding-right: 8px;
}

#main h5{
    margin-top: -1px;
    margin-left: 1rem;
}

#main .prix{
    margin-top: -20px;
    margin-left: 1rem;
}

.avis_etoiles {
    color: #0065fc;
    margin-top: 6px;
    margin-left: 1rem;
}

.La_Cannebiere i:last-child{
    color: lightgrey;
}

.Les_mouettes i:last-child{
    color: lightgrey;
}

.Le_Panier i:last-child{
    color: lightgrey;
}

.Hotel_de_la_mer i:nth-child(n+4){
    color: lightgrey;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */

.bloc1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bg_sd{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    background-color:#F2F2F2;
}

.bg_sd .title_chart {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line{
    margin-top: 2rem;
    margin-right: 1rem;
}

.title_chart h1{
    padding-left: 1rem;
}

.sidebar{
    height: 90%;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 15px;
    margin: 1rem;
}

.sidebar img{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    object-fit: cover;
    width: 40%;
    height: 200px;
    border-radius: 15px;
    grid-gap:20px;
}

.avis_etoiles1, .avis_etoiles2, .avis_etoiles3{
    color: #0065fc;
    margin-top: 82px;
}

.Au_coeur_de_leau i:last-child{
    color: lightgrey;
}

.Tout_bleu_et_blanc i:last-child{
    color: lightgrey;
}

.sidebar .nom1 .prix1 .avis_etoiles1{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.sidebar .nom2 .prix2 .avis_etoiles2{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: -4px;
}

.prix1, .prix2, .prix3{
    margin-top: -15px;
}

.sidebar .nom3 .prix3 .avis_etoiles3{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.Soleil_du_matin, .Au_coeur_de_leau, .Tout_bleu_et_blanc{
    background-color: white;
    border-radius: 15px;
    object-fit: cover;
    height: 208px;
    width: 100%;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


.bg_sec{
    grid-area: 4/1/5/12;
    padding-top: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: white;
}

.bg_sec h1{
    margin-bottom: -15px;
}

.bg_sec h5{
    margin-left: 1rem;
}

#section{
    margin-top: 15px;
    border-radius: 15px;
    box-sizing:border-box;
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    grid-gap:20px;
    height: 500px;
}

#section img{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    margin-top: 20px;
    width: 320px;
    height: 100%;
}

.Fort_Pomegues {
    grid-area: 1/2/2/3;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.Iles_du_Frioul {
    grid-area: 3/2/4/3;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.ND_de_Garde {
    grid-area: 1/4/2/5;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.Longchamp {
    grid-area: 3/4/4/5;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.vieux_Port {
    grid-area: 1/1/4/2;
    object-fit: cover;
    grid-gap: 20px;
    height: 500px;
    padding-right: 0;
}

.Parc_des_Calanques {
    grid-area: 1/3/4/4;
    object-fit: cover;
    height: 500px;
    grid-gap: 20px;
    padding-right: 0;
}

.vieux_Port img{
    object-fit: cover;
    grid-gap: 20px;
    height: 500px;
}

.Parc_des_Calanques img{
    object-fit: cover;
    height: 500px;
    grid-gap: 20px;
}


/* le footer en flex et space-between */


.ft{
    grid-area: 5/1/6/12;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-bottom: -15px;
    margin-top: 100px;
}

.footer{
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;    
    text-align: left;
    width: 852px;
}

.footer ul li{
    list-style-type: none;
    margin-left: -40px;
    margin-right: 1rem;
    margin-bottom: 15px;
}

.footer h5{
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


@media screen and (max-width: 1200px){
    
    .container{
        display: block;
    }
    
    .logo_menu ul{
       /* width: 34%; */
    }

    .liseret{
        width: 140px;
        right: 28%;
    }

    /* sd toujours en flex et img en float */
    
    .bloc1{
        flex-direction: column;
    }

    .bg_main{
        width: 100%;
    }

    .bg_sd{
        padding-top: 1rem;
        margin-top: 1rem;
        border-radius: 15px;
        margin:auto;
    }

    .sidebar{
        display: flex; 
        width: auto;
    }
    
    .sidebar img{
        width: 45%;
    }

    /* section avec height à 300px */

    #section {
        height: 300px;
        margin-bottom: 2rem;
    }

    #section img{
        margin-bottom: -25px;
        width: 90%;
    }

    .Fort_Pomegues {
        grid-area: 1/2/2/3;
        height: 140px;
    }
    
    .Iles_du_Frioul {
        grid-area: 2/2/3/3;
        height: 140px;
        margin-top: 20px;
    }

    .ND_de_Garde {
        grid-area: 2/1/3/2;
        height: 140px;
        margin-top: 20px;
    }

    .Longchamp {
        grid-area: 2/3/3/4;
        height: 140px;
        margin-top: 20px;
    }

    .vieux_Port {
        grid-area: 1/1/2/2;
        height: 140px;
    }

    .Parc_des_Calanques {
        grid-area: 1/3/2/4;
        height: 140px;
    }

    .footer{
        margin-top: 1rem;
        height: 100%;
        width: 80%;
        padding-left: 40px;
        grid-gap:50px;  
    }

    .footer h5{
        padding-top: 20px;
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


@media all and (max-width:700px){

    .hd{
        margin: auto;
    }
    
    .liseret{
        border: none;
        border-bottom: 3px solid #0065fc;
        top:95px;
        left:9px;
        width:215px;
    }

    .titres h1{
        font-weight: 800;
        line-height: 47px;
        /* margin-bottom: -5px; */
    }

    h6{
        filter:blur(0.50px);
        margin-top: 15px;
        font-size: 18px;
    }

    .logo_menu img{
        float:left;
        margin-right: 40%;
        margin-top:-15px;
    }

    .logo_menu .inscrire{
        float: right;
        padding-right: 50px;
    }
    
    .logo_menu ul{
        grid-gap:34px;
        width: 86%;
        line-height: 64px;
        margin: 8px -47px 21px;
        padding-left:10px;
        padding-right:100px;
    }

    .logo_menu .activites{
        filter:grayscale(80%);
        margin-left:50%;
    }

    .recherche{
        font-size: 20px;
    }

    .recherche button{
        border-radius: 12px;
        display: contents;
        font-size: 0;
    }

    .recherche button::after{
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-size: 16px;
        margin-left: -40px;
        font-weight: bold;
        border-radius: 20px;
        border: 15px solid #0065fc;
        background-color: #0065fc;
        padding:5px;
   }

    #recherche{
        font-size: 20px;
        font-weight:bold;
   }

    .recherche input{
        width: calc(100% - 74px);
    }

    i.fas.fa-map-marker-alt{
       transform: scale(1.1);
       border: 0.1px solid rgba(0, 0, 0, 0);
       background-color: rgba(0, 0, 0, 0.123);
       font-size: 25px;
       height: 34px;
       padding:5px;
    }

    .filtres{
        display: block;
        flex-wrap: wrap;
        justify-content:space-between;
    }

    .filtres button{
        border-radius: 2rem;
        border: 1px solid gray;
        background-color: white;
        align-items: center;
        padding-right: 15px;
        height: 40px;
        margin-bottom: 20px;
   }

   .filtres button:nth-child(3){
       display: flex;
       margin-right: auto;
   }

    .filtres span{
        margin-right:10px;
        margin-left: -8px;
    }

    .filtres span i{
        font-size: 17px;
    }


    .hd h3{
        margin-top: 40px;
    }

    .exclamation{
        float: left;
        margin-right: 15px;
    }

    /* id main à 2 colonnes de 3 lignes */

    .bloc1{
        flex-direction: column-reverse;
    }
    
    .bg_main{
        width: 100%;
        margin-top: 15px;
   }

    .bg_main h1{
        margin-left:0;
        font-size: 25px;
        font-weight: 800;
        padding-left: 1rem;
    }

    .bg_main h3{
        margin-top:45px;
        padding-bottom: 15px;
    }

    #main {
        display: flex;
        flex-direction: column;
        margin:auto;
    }

    #main h5{
        font-weight:800;
        font-size: 16px;
    }

    .La_Cannebiere{
        grid-area:1/1/2/2; 
    } 
    
    .Hotel_du_port{
        grid-area:2/1/3/2;
    } 
    
    .Hotel_de_la_mer{
        grid-area:4/1/5/2;
    } 
    
    .Le_Panier{
        grid-area:5/1/6/2;
    }

    .Les_mouettes{
        grid-area: 3/1/4/2;
    }

    .Chez-Amina{
        grid-area: 6/1/7/2;
    }


    /* le sb en display block */
    
    
    .bg_sd{
        margin: auto;
        width: 100%;
    }

    .bg_sd h1{
        font-weight: 800;
        padding-top: 1rem;
    }

    i.fa.fa-chart-line{
        font-size: 25px;
    }

    .sidebar{
        flex-direction: column;
        margin:auto;
    }

    .prix1, .prix2, .prix3{
        font-weight: 300;
        padding-right: 25px;
    }

    .nom1, .nom2, .nom3{
        font-weight:900;
        padding-top: 20px;
        padding-right: 30px;
    }

    .Soleil_du_matin{
        grid-area: 1/1/2/3;
    }

    .Au_coeur_de_leau{
        grid-area: 2/1/3/2;
    }

    .Tout_bleu_et_blanc{
        grid-area: 2/2/3/3;
    }

    /* l'id section à 2 colonnes de 3 lignes */
    
    .bloc2{
        display:inline-block;
        height: 83rem;
    }
    
    .bg_sec{
        /* height: auto; */
        /* width: 100%; */
        /* flex-direction: column; */
        /* margin: auto; */
        margin-bottom: 15px;
    }
    
    .bg_sec h1{
        margin-bottom: 35px;
    }

    #section img{
        /* height: auto; */
        width: 100%;
    }

    #section .titre_carte{
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
        background-color: #f2f2f2;
        border-radius: 15px;
        width: 60%;
    }

    #section h5{
        margin-top: 35px;
        font-weight:800;
        font-size: 16px;
    }

    .Fort_Pomegues {
        grid-area: 2/1/3/2;
    }

    .Iles_du_Frioul {
        grid-area: 3/1/4/2;
        margin-top: 50px;
    }

    .ND_de_Garde {
        grid-area: 5/1/6/2;
        margin-top: 50px;
    }

    .Longchamp {
        grid-area:6/1/7/2;
        margin-top: 50px;
    }

    .vieux_Port {
        grid-area: 1/1/2/2;
        margin-bottom: 50px;
    }

    .Parc_des_Calanques {
        grid-area:4/1/5/2 ;
        margin-top: 50px;
    }

    .footer{
        display: block;
        border-radius: 15px;
    }

    .footer h5{
        font-weight:800;
        font-size: 16px;
        padding-top: -45px;
    }
}

@media all and (max-width:300px){
    
    .logo_menu ul{
        width: 0;
        padding-right:312px;
    }

    .logo_menu .inscrire{
        float: none;
        margin-bottom: 0;
    }
    
    .liseret{
        width: 236px;
        top:92px;
        left:20px;
    }

    #recherche{
        font-size: 13px;
    }

    #section{
        margin-top: 0;
        padding: 1rem;
        height:0;
    }
}