
body {
    font-family: Raleway;
}

.rows{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    width: 90%;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


.hd{
    grid-area: 1/1/2/12;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.hd i{
    border-radius: 50%;
    background-color:#0065fc;
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.liseret{
    position: relative;
    border: 3px solid #0065fc;
    width: 150px;
    margin-top: 0;
    margin-left: 69%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-bottom: 0;
}

.logo_menu img{
    margin-bottom: -15px;
    padding-left: auto;
    height: 4rem;
    width: auto;
}

.logo_menu{
    display: flex;
    margin-bottom: 0.5px;
}

.logo_menu ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    margin-left: auto;
    width: 400px;
    justify-content: space-between;
    margin-right: 1rem;
}

.logo_menu a{
    text-decoration: none;
    color:  #0065fc;
    font-weight: bold;
}

.disabled:nth-child(2) a{
    color:grey;
}

a:hover{
    text-transform: uppercase;
    color: grey;
    transition: all 1s;
}

h6{
    margin-top: 0;
    filter:blur(0.70px);
    margin-top: -15px;
}

input{
    border-radius:10px;
    border-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
    height: 30px;
}

.filtres{
    border-radius: 10px 10px;
    font-weight: bold;
    margin-bottom: 25px;
}

.filtres i{
    width: 30px;
    background: #deebff; 
    color:#0065fc;
    border-radius: 20px;
    border: 0.1rem solid #deebff;
    margin-right: auto;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    margin-left: -5px;
}

.filtres button{
    border-radius: 20px;
    border: 0.1rem solid #F2F2F2;
    font-weight: bold;
    height: 30px;
    margin-left: 5px;
    transition: all 0.3s;
}

.filtres button:hover{
    background-color: #deebff;
}

.recherche{
    margin-bottom: 15px;
}

.recherche img{
    width: 16px;
    height: 19px;
    float: left;
    border-radius: 10px;
    border: 0.1rem solid #F2F2F2;
    background: #0065fc; 
    margin-bottom: -4px;
}

.recherche button{
    background-color: #0065fc; 
    color:white;
    font-weight: bold;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 33px;
    margin-left: -10px;
}

.recherche input{
    margin-left: 5px;
    height: 30px;
}

.recherche i{
    margin-right: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
    width: 30px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.exclamation{
    color:#0065fc;
    font-weight: bold;
    filter:blur(0.70px);
    margin-right: 10px;
    background-color: lightyellow;
    border-radius: 50px;
    border: 5px solid #F2F2F2;
}

.hd p{
    filter:blur(0.70px);
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


.bg_main{
    grid-area: 2/1/3/8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    margin-right: 1rem;
    border-radius: 15px;
    background-color: #F2F2F2;  
}

.bg_main h1{
    margin-left: 1rem;
}

.bg_main h3{
    margin-left: 1rem;
}

#main{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(300px, auto);
    justify-content: space-around;
    align-items: center;
    grid-gap:20px;
}

#main img{
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.La_Cannebiere, .Hotel_du_port, .Les_mouettes, .Hotel_de_la_mer, .Le_Panier, .Chez-Amina{
    border-radius: 15px;
    background-color: white;
    box-sizing: border-box;
    width: auto;
    height: 280px;
    padding-right: 8px;
}

#main h5{
    margin-top: -1px;
    margin-left: 1rem;
}

#main .prix{
    margin-top: -20px;
    margin-left: 1rem;
}

.avis_etoiles {
    color: #0065fc;
    margin-top: 6px;
    margin-left: 1rem;
}

.La_Cannebiere i:last-child{
    color: lightgrey;
}

.Les_mouettes i:last-child{
    color: lightgrey;
}

.Le_Panier i:last-child{
    color: lightgrey;
}

.Hotel_de_la_mer i:nth-child(n+4){
    color: lightgrey;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


.bg_sd{
    grid-area: 2/8/3/12;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 15px;
    background-color:#F2F2F2;
}

.bg_sd .title_chart {
    display: flex;
    justify-content: space-between;
}

.fa-chart-line{
    margin-top: 2rem;
    margin-right: 1rem;
}

.title_chart h1{
    padding-left: 1rem;
}

.sidebar{
    height: 90%;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 15px;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    margin: 1rem;
    display: grid;
    grid-gap:20px;
}

.sidebar img{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    float: left;
    object-fit: cover;
    width: 40%;
    height: 200px;
    border-radius: 15px;
    grid-gap:20px;
}

.avis_etoiles1, .avis_etoiles2, .avis_etoiles3{
    color: #0065fc;
    margin-top: 82px;
}

.Au_coeur_de_leau i:last-child{
    color: lightgrey;
}

.Tout_bleu_et_blanc i:last-child{
    color: lightgrey;
}

.sidebar .nom1 .prix1 .avis_etoiles1{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.sidebar .nom2 .prix2 .avis_etoiles2{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: -4px;
}

.prix1, .prix2, .prix3{
    margin-top: -15px;
}

.sidebar .nom3 .prix3 .avis_etoiles3{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.Soleil_du_matin, .Au_coeur_de_leau, .Tout_bleu_et_blanc{
    background-color: white;
    border-radius: 15px;
    object-fit: cover;
    height: 208px;
    width: 100%;
}

/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


.bg_sec{
    grid-area: 4/1/5/12;
    padding-top: 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: white;
}

.bg_sec h1{
    margin-bottom: -15px;
}

.bg_sec h5{
    margin-left: 1rem;
}

#section{
    margin-right: 1rem;
    margin-top: 15px;
    border-radius: 15px;
    box-sizing:border-box;
    display: grid;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    grid-gap:20px;
    height: 500px;
}

#section img{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    margin-top: 20px;
    width: 320px;
    height: 100%;
}

.Fort_Pomegues {
    grid-area: 1/2/2/3;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.Iles_du_Frioul {
    grid-area: 3/2/4/3;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.ND_de_Garde {
    grid-area: 1/4/2/5;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.Longchamp {
    grid-area: 3/4/4/5;
    object-fit: cover;
    grid-gap: 20px;
    height: 200px;
    padding-left: 0;
    padding-right: 0;
}

.vieux_Port {
    grid-area: 1/1/4/2;
    object-fit: cover;
    grid-gap: 20px;
    height: 500px;
    padding-right: 0;
}

.Parc_des_Calanques {
    grid-area: 1/3/4/4;
    object-fit: cover;
    height: 500px;
    grid-gap: 20px;
    padding-right: 0;
}

.vieux_Port img{
    object-fit: cover;
    grid-gap: 20px;
    height: 500px;
}

.Parc_des_Calanques img{
    object-fit: cover;
    height: 500px;
    grid-gap: 20px;
}


/* le footer en flex et space-between */


.ft{
    grid-area: 5/1/6/12;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-bottom: -15px;
    margin-top: 100px;
}

.footer{
    display: flex;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;    
    text-align: left;
    width: 852px;
}

.footer ul li{
    list-style-type: none;
    margin-left: -40px;
    margin-right: 1rem;
    margin-bottom: 15px;
}

.footer h5{
    margin-left: auto;
    font-size: 16px;
    font-weight: bold;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */


@media screen and (max-width: 1200px){
    body {
        padding: 2rem 2rem;
    }

    .rows{
        display: block;
    }

    .liseret{
        position: relative;
        border: 0.5px solid #0065fc;
        width: 25%;
        margin-top: 0;
        margin-left: 45%;
        border-bottom: none;
        border-left: none;
        border-right: none;
        margin-bottom: 0;
    }

    /* sd toujours en flex et img en float */

    .bg_sd{
        padding-top: 1rem;
        margin-top: 1rem;
        border-radius: 15px;
    }

    .sidebar{
        display: flex; 
        width: auto;
    }
    
    .sidebar img{
        width: 45%;
    }

    /* section avec height à 300px */

    #section {
        height: 300px;
        margin-bottom: 2rem;
    }

    #section img{
        margin-bottom: -25px;
        width: 90%;
    }

    .Fort_Pomegues {
        grid-area: 1/2/2/3;
        height: 140px;
    }
    
    .Iles_du_Frioul {
        grid-area: 2/2/3/3;
        height: 140px;
        margin-top: 20px;
    }

    .ND_de_Garde {
        grid-area: 2/1/3/2;
        height: 140px;
        margin-top: 20px;
    }

    .Longchamp {
        grid-area: 2/3/3/4;
        height: 140px;
        margin-top: 20px;
    }

    .vieux_Port {
        grid-area: 1/1/2/2;
        height: 140px;
    }

    .Parc_des_Calanques {
        grid-area: 1/3/2/4;
        height: 140px;
    }

    .footer{
        margin-top: 1rem;
        height: 100%;
        width: 80%;
        padding-left: 40px;
        grid-gap:50px;  
    }

    .footer h5{
        padding-top: 20px;
    }
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


@media all and (max-width:700px){

    .rows{
        width: 450px;
        box-sizing: border-box;
    }

    .hd{
        /* margin-left: 25px; */
        width: 380px;
    }

    .hd h1{
        width: 320px;
    }

    h6{
        filter:blur(0.50px);
        margin-top: 15px;
        font-size: 18px;
        width: 460px;
    }

    .liseret{
        border: none;
        position: relative;
        border-bottom: 3px solid #0065fc;
        top: 90px;
        margin-left: -20px;
        width: 200px;
    }

    .logo_menu{
        padding-left: 0;
        transition: 0.2s;
    }

    .logo_menu ul{
        flex-wrap: wrap-reverse;
        grid-gap: 25px;
        width: 250px;
    }

    .logo_menu li:nth-child(3){
        margin-left: 150px;
    }

    .logo_menu li:nth-child(1){
        margin-left: -130px;
        filter:grayscale(80%);
    }

    .logo_menu li:nth-child(2){
        margin-right: 20%;
    }

    .logo_menu img{
        margin-top: -10px;
        padding-bottom: 0;
    }

    .recherche{
        font-size: 20px;
        width: 355px;
        margin-right:0;
    }
    .recherche input{
        width: 200px;
    }

    .recherche button{
        border-radius: 12px;
        display: contents;
    }

    .recherche button::after{
        content: "\f002";
        position: relative;
        font-family: "Font Awesome 5 Free";
        font-size: 16px;
        margin-left: -30px;
        font-weight: bold;
        border-radius: 15px;
        border: 15px solid #0065fc;
        background-color: #0065fc;
   }

    #recherche{
        font-size: 16px;
        font-weight:bold;
        margin-left: 30px;
        text-shadow: -2px -1px rgb(0, 0, 0);
   }

    i.fas.fa-map-marker-alt{
       transform: scale(1.1);
       border: 0.1px solid rgba(0, 0, 0, 0);
       background-color: rgba(0, 0, 0, 0.123);
       width: 34px;
       height: 34px;
   }

    .filtres{
        margin-bottom: 35px;
        margin-top: 35px;
        width: 350px;
        font-size: 20px;
        grid-gap:15px;
        align-items: center;
        display: grid;
    }

    .filtres label{
        font-weight:800;
        position: relative;
    }

    .filtres button{
        height: 48px;
        width: 150px;
        border-radius: 25px;
        box-shadow: 0.1px 0.1px 1.8px 0.1px;
        background-color: white;
    }

    .filtres i{
        width: 50px;
        height: 55px;
        font-size: 26px;
        position: relative;
        background-color:#dfe5ee;
        box-sizing: border-box;
        transform: translateX(-11px);
        clip-path: circle();
        margin-top:-6px;
    }

    .filtres button:nth-child(5){
        width: 230px;
        margin-bottom: 15px;
    }

    .filtres button:nth-child(3){
        position: relative;
        margin-left: 60%;
        margin-top:-50px;
    }

    .filtres button:nth-child(2){
        margin-bottom: -15px;
        margin-right: 15px;
        width: 165px;
    }

    i.fas.fa-money-bill-wave{
        padding-top: 13px;
        margin-left: -6px;
    }

    i.fas.fa-heart{
        margin-left: -15px;
        padding-top: 10px;
    }

    i.fas.fa-child{
        margin-left: -25px;
    }

    i.fas.fa-dog{
        margin-left: -25px;
        transform: translateX(-11px);
    }

    .hd p{
        filter:blur(0.30px);
        width: 380px;
        font-size: 18px;
        padding-left: 25px;
    }

    .exclamation{
        font-size: 15px;
        width: 20px;
        font-weight: bold;
        float: left;
        background-color: #f2f2f2;
        transform: translateX(-15px);
    }

    p label{
        padding-left: 8px;
        font-weight: bold;
        font-size: 20px;
    }

    /* id main à 2 colonnes de 3 lignes */

    .bg_main{
        height: auto;
        width: 400px;
        position: relative;
        margin-top: 800px;
    }

    .bg_main h1{
        margin-left:0;
        font-size: 25px;
        font-weight: 800;
        padding-left: 1rem;
    }

    .bg_main h3{
        margin-top:45px;
        margin-bottom: -20px;
    }

    #main {
        box-sizing: border-box;
        justify-content:space-between;
    }

    #main img{
        width: 98%;
    }

    #main h5{
        font-weight:800;
        font-size: 16px;
    }

    .La_Cannebiere, .Hotel_du_port, .Les_mouettes, .Hotel_de_la_mer, .Le_Panier, .Chez-Amina{
        width: 365px;
    }

    .La_Cannebiere{
        grid-area:1/1/2/2; 
    } 
    
    .Hotel_du_port{
        grid-area:2/1/3/2;
    } 
    
    .Hotel_de_la_mer{
        grid-area:4/1/5/2;
    } 
    
    .Le_Panier{
        grid-area:5/1/6/2;
    }

    .Les_mouettes{
        grid-area: 3/1/4/2;
    }

    .Chez-Amina{
        grid-area: 6/1/7/2;
    }


    /* le sb en display block */
    
    .bg_sd{
        margin-top: -2860px;
        padding-top: 0px;
        position: absolute;
        width: 400px;
    }

    .bg_sd h1{
        font-size:25px ;
        font-weight: 800;
        padding-top: 1rem;
    }

    .sidebar{
        display: block;
        margin-bottom: 1rem;
        grid-gap: 1rem;
        width: 90%;
        height: 3fr;
    }

    i.fa.fa-chart-line{
        /* font-weight:800; */
        font-size: 25px;
    }

    .prix1, .prix2, .prix3{
        font-weight: 300;
        padding-right: 25px;
    }

    .nom1, .nom2, .nom3{
        font-weight:900;
        padding-top: 20px;
        padding-right: 30px;
    }

    .Soleil_du_matin{
        grid-area: 1/1/2/3;
        height: 1fr;
    }

    .Au_coeur_de_leau{
        grid-area: 2/1/3/2;
        height: 1fr;
    }

    .Tout_bleu_et_blanc{
        grid-area: 2/2/3/3;
        height: 1fr;
    }

    /* l'id section à 2 colonnes de 3 lignes */
    
    .bg_sec{
        width: 400px;
        padding-left: 1rem;
    }
    
    .bg_sec h1{
        margin-bottom: 35px;
    }

    #section img{
        margin-bottom: 1fr;
        width: 90%;
        margin-top: 0;
        padding-top: 0;
    }

    #section .titre_carte{
        padding-top: 0.5rem;
        padding-bottom: 0.1rem;
        box-shadow: 0px 5px 5px #f2f2f2;
        border-radius: 15px;
    }

    #section h5{
        margin-top: 35px;
        font-weight:800;
        font-size: 16px;
    }

    .Fort_Pomegues {
        grid-area: 2/1/3/2;
    }

    .Iles_du_Frioul {
        grid-area: 3/1/4/2;
        margin-top: 50px;
    }

    .ND_de_Garde {
        grid-area: 5/1/6/2;
        margin-top: 50px;
    }

    .Longchamp {
        grid-area:6/1/7/2;
        margin-top: 50px;
    }

    .vieux_Port {
        grid-area: 1/1/2/2;
        margin-bottom: 50px;
    }

    .Parc_des_Calanques {
        grid-area:4/1/5/2 ;
        margin-top: 50px;
    }

    /* footer avec margin-top à 280px */

    .ft{
        width: 380px;
        padding-top: 80px;
        padding-left: 1rem;
        margin-top: 280px;
    }
    .footer{
        margin-top: 650px;
        display: block;
        padding-left: 0;
        border-radius: 15px;
        width: auto;
    }

    .footer h5{
        font-weight:800;
        font-size: 16px;
        padding-top: -45px;
    }
}

